<h1><%= @messages.body %></h1>

<em><%= @messages.active %></em>

<%#<h2>User Used:</h2>


<%#<% @messages.user_id.each do |t| %>
<%#<p><%= t.name %></p>
<%#<% end %>

<%= link_to 'Back', messages_path %>