<h1>User</h1>

<% @user.each do |messages| %>
    <p><%= link_to messages.body, message_show_path(messages) %></p>
    <p><%= messages.active %></p>
    <%= link_to "Edit", edit_message_path(messages.id) %>
    <%= link_to 'Delete Message', message_path(messages), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<p>Find me in app/views/messages/user.html.erb</p>
