<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>
        <hr>
        
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "profile.jpg", width:150, alt: "profile image", class: 'profile-img' %>
            </div>
            
            <div class="col-md-8">
                <p>Find me in app/views/pages/about.html.erb</p>
            </div>
        </div>
    </div>
</div>




