 <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to guide.title.upcase, guide %></h2>
      <p class="blog-post-meta">Published <%=  distance_of_time_in_words(guide.created_at, Time.now) %> ago</p>
      
      <%= render partial: 'guides/admin_actions', locals: {guide: guide} %>
      
      <p>
          <%= guide.body %>
      </p>
      
 </div><!-- /.blog-post -->

 