<p id="notice"><%= notice %></p>

<h1>Guides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @guides %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide', new_guide_path %>
